<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
		<h1 style="padding: 20px 0;
  			font-size: 2.5em;
 			 text-align: center; font-family: 'Raleway',sans-serif;">
 			 FileService Client View
 		</h1>
		<form id="filesInfo" accept-charset="UTF-8" method="POST" enctype="multipart/form-data" action="/upload-file">
			<input class="btn" type="file" name="file" >
			<input class="btn" type="submit" value="Upload">
		</form>
		<form id="getFileByName" method="GET" action="/get-file-info">
			<input
				class="btn"
				type="text"
				placeholder="File Name"
				id="field"
				name="fileName"
				style="padding: 10px 3px; font-size: 20px;"
			/>
			<input class="btn" type="submit" value="Search">
		</form>
		<table class="table table">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Creation Time</th>
            <th>Last Updated</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
       		 <tr th:if="${listView == null || listView.empty}">
            	<h2 colspan="2">No files loaded</h2>
        	</tr>
        	<tr:block th:each="element : *{listView}">
				<td><a th:href="@{|/get-file?fileName=${element.fileName}|}">[[${element.fileName}]]</a></td>
				<td th:text="${element.creationTime}"></td>
				<td th:text="${element.lastUpdateTime}"></td>
				<td>
					<form style="display:inline-block" id="updateFIle" method="POST" action="/update-file">
						<input type="hidden" th:value="${element.fileName}" name="fileName"/>
						<input class="btn" type="submit" value="Update">
					</form>
					<form style="display:inline-block" id="deleteFile" method="POST" action="/delete-file">
						<input type="hidden" th:value="${element.fileName}" name="fileName"/>
						<input class="btn" type="submit" value="Delete">
					</form>
					<form style="display:inline-block" id="download" method="GET" action="/get-file">
						<input type="hidden" th:value="${element.fileName}" name="fileName"/>
						<input class="btn" type="submit" value="Download">
					</form>
				</td>
			</tr>
		</tbody>
      </table>
	</div>
</body>	
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-collapse: collapse;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}
</style>
</html>