<html xmlns:th="http://www.thymeleaf.org">
<head><link href="/css/app.css" rel="stylesheet"></head>
<body>
	<div>
		<h1 style="padding: 20px 0;
  			font-size: 2.5em;
 			 text-align: center; font-family: 'Raleway',sans-serif;">
 			 Update File [[${fileToUpdate}]]
 		</h1>
		<form id="updatePortfolio" accept-charset="UTF-8" method="POST" enctype="multipart/form-data" action="/submit-update-file">
			<input class="btn" type="file" name="file" th:value=${fileToUpdate}>
			<input class="btn" type="submit" value="Upload">
		</form>
	</div>
</body>	
</html>